<div>
    <form action ="/addtask" method="POST"></form>
    <input type="text" name="header"  value =" <%=todo[i].header %>"> 
    <input type="text" name="text"  value =" <%=todo[i].text %>"placeholder="What need to do?"> 
    </div>
     <div>
    <label for="ending">Ending date:</label>
    <input type="text" name="ending" value ="<%=todo[i].ending %>" placeholder="Ending Date">
     <div>Priority:</div>
     <input type="text" name="priority" value ="<%=todo[i].priority %>"> 
    </form>
    </div>