<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>Modal</title>
</head>
<body>
Hello
        <div id ="mymodal" class = "modal">
            <div class="modal-content">
            <span class="close">&times;</span>
            <p> Атрибуты задачи </p>
            </div> 
        </div>
        <script src = "/node_login/modal.js"></script> 
</body>
</html>